PORT=3000
CLIENT_ORIGIN=*
ADMIN_SESSION_SECRET=replace-with-a-long-random-secret
INVITE_SECRET=replace-with-another-long-random-secret
MONGODB_URI=mongodb+srv://charanachanta2:Charan1114@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=music_chat
